<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
	<listeners>
		<listener class-name="E2eDevelopment.Listeners" />
	</listeners>

	<test name="Validating User login">
		<classes>
			<class name="E2eDevelopment.HomePage" />
		</classes>
	</test>

	<test name="Validating title in the Page">
		<classes>
			<class name="E2eDevelopment.validateTitle" />
		</classes>
	</test>

</suite> <!-- Suite -->